

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }

header {
  background-color: #202020;
  color: rgb(174, 0, 255);
}
  

h1, h2 ,h3 {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.center {
  text-align: center;
}

#header-title {
  padding: 1rem 0;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .nav-link, .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }

  .active {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #sidenavHam {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size:30px;
    cursor:pointer
  }

/*
  #main {
    transition: margin-left .5s;
  }
*/
  /*                HOME PAGE -- MAIN CONTENT                        */



#videosContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem .5rem;
  margin-bottom: 1.5rem;
  justify-content: center;

}

.card-providers {
overflow: hidden;
max-width: 350px;
margin: auto;
height: fit-content;
border: 2px solid;
border-radius: 10px;
margin-bottom: 1rem;
}


.card-providers:hover {
transform: scale(1.05);
}

.background-div {
align-content: end;
margin: 0;
padding: 0;
width: 100%;          
height: 250px;          
background-size:cover;  
background-position: center;  
background-repeat: no-repeat; 
}


.background-div p { 
color: #ffffff;
font-size: large;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
display: block;
background-color: rgba(255, 255, 255,.3);
background-color: rgba(0, 0, 0,.7);
padding: .5rem;
margin: 0;
}

.info-providers {
padding: .5rem;
text-align: center;
}

.info-providers p {
font-family: Arial, Helvetica, sans-serif;
}


.provider-info-button {
border: none;
cursor: pointer;
padding: 7px 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
text-decoration: none;
font-weight: 600;
color: #ffffff;
background-color: #1C3D5A;
border: solid 1px;
}
.provider-info-button:hover {
background-color: #fff;
color: #1C3D5A;
}

.gpt-container {
  text-align: center;
}


.gpt-container p{
  border: 2px solid;
  background-color: beige;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: .5rem;
 max-width: 350px;
 margin: .5rem auto;
}

.gpt-image {
  max-width: 350px;
  height: auto;
}


/*         FORM SECTION                   */
.form-container {
  max-width: 600px;

  margin: 1rem auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}
input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
input:focus, textarea:focus, select:focus {
  border-color: #1C3D5A;
  outline: none;
}
textarea {
  resize: vertical;
}
button {
  background-color: #1C3D5A;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #145182;
}

.checkbox, .radio {
  display: inline;
  width: 20px;
}


/*        BENEFICIARIES                   */

.disabilities-article {
  border-bottom: 2px solid;
}
.disabilities-article:last-child {
border-bottom: none;
}


.main-content {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.disabilities-form {
  max-width: 600px;
  margin: 1rem auto;
  padding: 20px;
  background: #fff;
  background-color: beige;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.large-button {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #1c3d5a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.high-contrast {
  background-color: #000000;
  color: #ffffff;
  padding: .5rem 0;
}
.focus-visible:focus {
  outline: 3px solid #0078d7;
  outline-offset: 2px;
}

.non-flashing-animation {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100px; 
  height: 100px; 
  background-color: #0078d7; 
  animation: pulse 2s infinite;
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


  /*           FOOTER                     */

footer {
  background-color: #202020;
  text-align: center;
  padding: .2rem;
  color: white;
}
footer a{
  color: rgb(174, 0, 255);
  text-decoration: none;
}

#currentYear::after {
  content: " ~AccessAI~";
  color: rgb(174, 0, 255);
}