@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 600px) {
  .sidenav{
    all: unset;
    background-color: inherit;
    display: flex;
    position: relative;
    color: #f5deb3;
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .closebtn {
    display: none;
  }
  
  #sidenavHam {
    display: none;
  }

  .sidenav a {
    font-size: 1.2rem;   
    background-color: rgb(197, 41, 41);
  }
  .sidenav a:last-child {
    border-radius: 0 15px 0 0px;
  }

}