* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0,0,0);
}


header h1 {
    padding: 1rem 0;
    text-align: center;
    font-size: large;
    color: #ffffff;
}


h1,h2,h3 {
    text-align: center;
}


.nav {
    background-color: rgb(65, 58, 58);
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.nav li{
    display: block;
    width: 100%;
    text-align: center;
}

.nav a {
    display: block;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: #ffffff;
    padding: .5rem 0;
}

nav a:hover {
    color: #000000;
    background-color: rgb(202, 202, 202);
}


main {
    max-width: 95%;
    margin: 0 auto;
 }

.sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: .5rem;
    }
    
    
    
.card {
    border: 5px solid rgb(65, 58, 58);      /*#415541*/
    border-radius: 10px;
    margin: 2rem 0;
}

.card > h2 {    
    background-color: rgb(65, 58, 58);
    color: #ffffff;
    display: block;
    text-align: center;
    padding: .5rem 0;
}

.card-web-src {
    list-style-type: disc;
}

.dev-src-link {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.dev-src-link:hover {
    color:rgba(0, 0, 0,.8);
}

hr {
    width: 80%;
    margin: .5rem auto;
}

.article-container {
    display: flex;
    padding: 1rem;
    font-size: large;
    
}
.article-container p {
    padding: 1rem;
    
}
.article-container img {
    border-radius: 10px;
    box-shadow: 1px 2px 10px 2px;
}
.argentina-flag {
    margin-right: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(0,0,0);
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: .5rem;
    font-size: 1.2rem;
    color: rgb(185, 185, 185);
}


footer p a {
    text-decoration: none;
    color: rgb(255, 255, 0);
    font-weight: bold;
    transition: 1000ms;
}
footer p a:hover {
    color: #ffffff;
    transition: 1000ms;
}


.container-AR-flag {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid silver;
    box-shadow: 2px 3px 7px black;
    overflow: hidden;
}

.first-lightblue-color-flag {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
    background: rgb(108, 172, 228);
}

.white-middle-color-flag {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    background-color: #fff;
}


.sun-center-color-flag {
    margin-top: 1px;
    height: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    background: rgb(255,184,28);
    border-radius: 50px;
    width: 10px;
    z-index: 2;
}


.last-lightblue-color-flag {
        grid-row: 3/4;
        grid-column: 1/4;
        width: 100%;
        background: rgb(108, 172, 228);
    }